/* Actual Page */
#page {
    display: flex;
    color: #192039;
}

/* Demographic */
#info {
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    width: 85%;
    font-size: 25px;
    color: #192039;
    border-bottom: 2px solid #192039;
}

h3 {
    text-shadow: 2px 2px 3px #d6d6d6;
}

.consult-title{
    margin-bottom: 15px;
}

#demographic {
    margin: -20px 10px -10px 10px;
    font-size: 20px;
}

.demo {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.graphic {
    margin-right: 100px
}

.space {
    margin-right: 39px;
}

/* Edit Demographic */
.edit {
    float: right;
    font-size: 25px;
    cursor: pointer;
    border-radius: 5px;
}

.burger{
    border: 0;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    margin: 1px 4px 4px 4px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    font-size: 25px;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}

.burger:before{
    width: 7px;
    margin: 5px auto;
    border-radius: 3px;
}
.burger:after{
    margin: auto 5px;
    height: 7px;
    border-radius: 3px;
    box-shadow: none;
}

.burger:hover{
    background: #d6d6d6;
}

.editdemo{
    background: #F1F4FE;
}

/* Consultation*/
#consultation{
    margin: auto;
    margin-top: -10px;
    padding: 0;
    width: 85%;
    font-size: 25px;
    color: #192039;
}

.consult-instance{
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #888888;
    color: #192039;
    margin-bottom: 25px;
}

.date{
    padding: 10px;
    padding-left: 20px;
    font-size: 25px;
    font-weight: bold;
    color: #192039;
    border-bottom: 2px solid #192039;
}

.editconsult{
    background: white;
}

.consultation{
    padding: 10px 30px 10px 30px;
}

.split {
    width: 48%;
    overflow-x: hidden;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.title{
    margin-bottom: -15px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
}

.list{
    font-size: 20px;
}

.circle{
    list-style-type: circle;
    margin-left: 20px;
}

.file{
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    margin: 1px 4px 4px 4px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;

    font-size: 20px;
    font-family: 'Rubik', sans-serif;
    color: #192039;
}